################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs

/Contracts/obj
/Contracts/bin

/Entities/obj
/Entities/bin

/LoggerService/obj
/LoggerService/bin

/Repository/obj
/Repository/bin